<ion-view view-title="About">
    <ion-content class="padding">
        <h3>Create hybrid mobile apps with the web technologies you love.</h3>
        <button class="button" ng-click="showPopup()">Click Me</button>
        <button class="button" ng-click="mediaPlayer.scheduleSingleNotification()">single notification</button>
        <button class="button" ng-click="mediaPlayer.resume()" ng-hide="mediaPlayer.isPlaying">Resume</button>
        <button class="button" ng-click="mediaPlayer.pause()" ng-show="mediaPlayer.isPlaying">Pause</button>
        <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
        <p>Built with Sass and optimized for AngularJS.</p>
        <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
        </p>
    </ion-content>
</ion-view>