<ion-view view-title="Charts">
    <ion-content ng-controller="trackListCtrl">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <!--
        <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
        </p>
-->
        <ion-list>
            <ion-item ng-show="tracks.length === 0">
                <h3>No tracks</h3>
            </ion-item>
            <ion-item ng-model="tracks" ng-repeat="item in tracks">
                <h3>{{item.track}}</h3>
                <p>{{item.artist}}</p>
                <ion-option-button class="button-positive" ng-click="player.play(item)">Play</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>