<ion-view title="Player">
    <ion-content ng-controller="mediaPlayerCtrl">
        <button class="button" ng-click="player.resume()" ng-hide="player.state() === player.States.PLAYING">Resume</button>
        <button class="button" ng-click="player.pause()" ng-show="player.state() === player.States.PLAYING">Pause</button>
        <table class="table">
            <tr>
                <td>Status</td>
                <td>{{player.state().text}}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{player.track.track}}</td>
            </tr>
            <tr>
                <td>Artist</td>
                <td>{{player.track.artist}}</td>
            </tr>
        </table>
        <!--
        <ion-list>
            <ion-item ng-show="tracks.length === 0">
                <h3>No tracks</h3>
            </ion-item>
            <ion-item ng-model="tracks" ng-repeat="item in tracks">
                <h3>{{item.track}}</h3>
                <p>{{item.artist}}</p>
                <ion-option-button class="button-positive" ng-click="play(item)">Play</ion-option-button>
            </ion-item>
        </ion-list>
-->
    </ion-content>
</ion-view>