<ion-view title="Search">
    <ion-content ng-controller="trackListCtrl">
        <form ng-submit="search()">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="keyword">
            </label>
        </form>

        <!--
        <div class="list">
            <div class="item">
                @IonicFramework
            </div>
            <div class="item">
                @DriftyTeam
            </div>
        </div>
-->
        <ion-list>
            <ion-item ng-show="tracks.length === 0">
                <h3>No tracks</h3>
            </ion-item>
            <ion-item ng-model="tracks" ng-repeat="item in tracks">
                <h3>{{item.track}}</h3>
                <p>{{item.artist}}</p>
                <ion-option-button class="button-positive" ng-click="player.play(item)">Play</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>