<ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Player" icon="ion-play" href="#/tab/player">
        <ion-nav-view name="player-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Charts" icon="ion-home" href="#/tab/charts">
        <ion-nav-view name="charts-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Search" icon="ion-ios-world" ui-sref="tabs.search">
        <ion-nav-view name="search-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="About" icon="ion-ios-information" href="#/tab/about">
        <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>