<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

    <title></title>

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- ngCordova -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- your app's js -->
    <script src="js/tabs.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="starter" ng-controller="myCtrl">

    <ion-pane>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view>
            <ion-view>
                <ion-nav-buttons side="primary">
                    <button class="button" ng-click="doSomething()">
                        I'm a button on the primary of the navbar!
                    </button>
                </ion-nav-buttons>
                <ion-content>
                    Loading...
                </ion-content>
            </ion-view>
        </ion-nav-view>

        <!--         conflict with ion-nav-view -->
        <!--
    <ion-header-bar class="bar-positive">
    <h1 class="title">Ionic Blank Starter v2</h1>
</ion-header-bar>
-->

        <!--
        <ion-content ng-controller="trackListCtrl">
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
            </ion-refresher>
            <form ng-submit="search()">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="keyword">
                </label>
            </form>
            <button class="button" ng-click="showPopup()">Click Me</button>
            <button class="button" ng-click="scheduleSingleNotification()">single notification</button>
            <button class="button" ng-click="resume()" ng-hide="isPlaying">Resume</button>
            <button class="button" ng-click="pause()" ng-show="isPlaying">Pause</button>
            <ion-list>
                <ion-item ng-show="tracks.length === 0">
                    <h3>No tracks</h3>
                </ion-item>
                <ion-item ng-model="tracks" ng-repeat="item in tracks">
                    <h3>{{item.track}}</h3>
                    <p>{{item.artist}}</p>
                    <ion-option-button class="button-positive" ng-click="play(item)">Play</ion-option-button>
                </ion-item>
            </ion-list>
        </ion-content>
-->
    </ion-pane>
</body>

</html>